<!--
 |
 +-->
<server>  
  <featureManager>
    <feature>jndi-1.0</feature>
  </featureManager>
  
  <!--
   | https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_dep_jndi.html 
   +-->
  <jndiEntry jndiName="torganizer/resourcesUrl" value="http://localhost:9080/rest/resources/" />
  <jndiEntry jndiName="jsf/ProjectStage" value="Production" />
  
  <!--
   | https://www.ibm.com/support/knowledgecenter/en/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/rwlp_portnums.html 
   +-->
  <wasJmsEndpoint wasJmsPort="7279" wasJmsSSLPort="7289" />
</server>