<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">
  <!-- Enable features -->
  <featureManager>
    <feature>javaee-8.0</feature>
    <feature>microProfile-2.0</feature>
    <feature>localConnector-1.0</feature>
  </featureManager>
  <!-- 
   | To access this server from a remote client add a host attribute to the following element, e.g. host="*" 
   | Ignore "IllegalStateException: The orb is not available"
   | https://www-01.ibm.com/support/docview.wss?uid=ibm10728669
   +-->
  <httpEndpoint id="defaultHttpEndpoint" httpPort="8080" httpsPort="8443" host="*" />
  <!--
   | https://stackoverflow.com/questions/15485239/websphere-liberty-profile-and-intellij-jmx-administration-should-be-enable
   +-->
  <applicationMonitor updateTrigger="mbean" />
  <!--
   | https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_dep_jndi.html 
   +-->
  <jndiEntry jndiName="jsf/ProjectStage" value="Production" />
  <!--
   | https://www.ibm.com/support/knowledgecenter/en/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/rwlp_portnums.html 
   +-->
  <wasJmsEndpoint wasJmsPort="7279" wasJmsSSLPort="7289" />
  <!-- https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_mp_metrics_monitor.html -->
  <mpMetrics authentication="false" />
  <!-- Automatically expand WAR files and EAR files -->
  <applicationManager autoExpand="true" />
  <!--
   | Ist dieser Pfad nicht vorhanden (z.B. weil die Anwendung in das Dropin-Verzeichnis kopiert wurde), wird er ignoriert.
   | Waehrend der Entwicklung mit IntelliJ wird die Variable ersetzt und die Application wird genutzt,
   +-->
  <application id="webclient_war" location="${application_location}" name="webclient_war" type="war" />

  <!--
   | CWWKS9660E: Das Element orb mit dem id-Attribut defaultOrb setzt eine Benutzerregistry voraus, aber auch nach 10 Sekunden war keine Benutzerregistry verfügbar.
   | https://www.ibm.com/support/knowledgecenter/SSD28V_9.0.0/com.ibm.websphere.wlp.core.doc/ae/twlp_sec_basic_registry.html
   +-->
  <basicRegistry id="basic" realm="customRealm">
    <user name="admin" password="admin" />
    <group name="admins">
      <member name="admin" />
    </group>
  </basicRegistry>
</server>

