/** https://stackoverflow.com/questions/16590739/empty-css-while-using-import-in-a-css-link */
@import url("#{resource['css:button.css']}");
@import url("#{resource['css:table.css']}");
@import url("#{resource['css:input.css']}");

:root {
    --body_background-color: #F4EEE1;
    --header_background-color: #E4DAC2;
}

.disabledLink {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}