input[type=button] {
  background-color: var(--button_background-color);
  padding: 0.1em 1em 0.1em 1em;
}

input[type=button]:hover {
  background-color: var(--button_background-color_hover);
}

input[type=button][disabled=disabled]:hover {
    background-color: var(--button_background-color);
}

