a[disabled="disabled"] {
  color: lightgray;
}

a[disabled="enabled"] {
  color: black;
}

/** disabled links in jsf are rendered as spans */
span.disabledLink {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: var(--disabled-color)
}
