<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">
  <featureManager>
    <feature>javaee-8.0</feature>
    <feature>localConnector-1.0</feature>
  </featureManager>
  <include location="./server-include.xml" />
  <httpEndpoint id="defaultHttpEndpoint" enabled="true" httpPort="9080" httpsPort="9443" host="*" />
  <applicationManager autoExpand="true" />
  <applicationMonitor updateTrigger="mbean" />
  <webApplication id="rest" location="rest.war" name="rest" />
  <include location="./server-include.xml" />
  <keyStore id="defaultKeyStore" password="_admin_" />
  <basicRegistry id="basic" realm="BasicRealm">
    <user name="admin" password="admin" />
  </basicRegistry>
  <application id="webclient_war_exploded" location="C:\dev\projects\torganizer\webclient\target\webclient" name="webclient_war_exploded" type="war" context-root="/webclient" />
  <application id="rest_war_exploded" location="C:\dev\projects\torganizer\rest\target\rest" name="rest_war_exploded" type="war" context-root="/rest" />
</server>

