<?xml version="1.0" encoding="UTF-8"?>
<!--
 | parameters to set:
 |
 | dataSource.serverName : localhost
 | dataSource.user       : root
 | dataSource.password   : root
 +-->
<server>
  <featureManager>
    <feature>javaee-8.0</feature>
    <feature>microProfile-3.0</feature>
    <feature>localConnector-1.0</feature>
  </featureManager>

  <!--
   | Ignore "IllegalStateException: The orb is not available"
   | https://www-01.ibm.com/support/docview.wss?uid=ibm10728669
   +-->
  <httpEndpoint id="defaultHttpEndpoint" enabled="true" httpPort="9080" httpsPort="9443" host="*" />

  <!--
   | https://www.ibm.com/support/knowledgecenter/en/SS7K4U_liberty/com.ibm.websphere.wlp.zseries.doc/ae/twlp_dep_configuring_ds.html 
   | https://www.ibm.com/support/knowledgecenter/en/SSHS8R_7.1.0/com.ibm.worklight.deploy.doc/admin/t_configuring_liberty_profile_for_my_sql_manually.html
   +-->
  <library id="DataSourceLibrary">
    <file name="${shared.resource.dir}/postgresql-42.2.8.jar" />
  </library>
  <dataSource jndiName="jdbc/torganizerDS" transactional="true">
    <jdbcDriver libraryRef="DataSourceLibrary" />
    <!--
     |                          | postgresql     | mysql
     | ___________________________________________________________
     | dataSource.serverName    | localhost      | localhost
     | dataSource.portNumber    | 5432           | 3306
     | dataSource.user          | postgres       | root
     | dataSource.password      | postgres       | root
     +-->
    <properties databaseName="torganizer"
      serverName="${dataSource.serverName}" portNumber="5432"
      user="${dataSource.user}" password="${dataSource.password}" useSSL="false" allowPublicKeyRetrieval="true" />
  </dataSource>

  <!--
   | CWWKS9660E: Das Element orb mit dem id-Attribut defaultOrb setzt eine Benutzerregistry voraus, aber auch nach 10 Sekunden war keine Benutzerregistry verfügbar.
   | https://www.ibm.com/support/knowledgecenter/SSD28V_9.0.0/com.ibm.websphere.wlp.core.doc/ae/twlp_sec_basic_registry.html
   +-->
  <basicRegistry id="basic" realm="customRealm">
    <user name="dings" password="bums" />
    <group name="gruppe">
      <member name="dings" />
    </group>
  </basicRegistry>

  <!--
   | https://www.ibm.com/support/knowledgecenter/en/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/rwlp_portnums.html 
   +-->
  <wasJmsEndpoint wasJmsPort="7278" wasJmsSSLPort="7288" />

  <!--
   | https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_mp_metrics_monitor.html
   +-->
  <mpMetrics authentication="false" />

  <!--
   | Ist dieser Pfad nicht vorhanden (z.B. weil die Anwendung in das Dropin-Verzeichnis kopiert wurde), wird er ignoriert.
   | Waehrend der Entwicklung mit IntelliJ wird die Variable ersetzt und die Application wird genutzt,
   +-->
  <applicationMonitor updateTrigger="mbean" />

  <!--
   | https://openliberty.io/guides/cors.html
   | https://stackoverflow.com/questions/56738237/how-to-enable-cors-set-up-for-liberty-server-which-is-installed-through-docker
   +-->
  <cors domain="/" allowedOrigins="*" allowedMethods="GET, DELETE, POST, PUT"
    allowedHeaders="origin, content-type, accept, authorization, cache-control" maxAge="3600" />
</server>

