.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1em;
}

.core {
  display: grid;
  grid-template-columns: fit-content(200px) auto;
  grid-gap: 1em;
}

.ageRestrictionData {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1em;
}

.commands {
  grid-column: 1 / span 2;
}

.tabs {
  grid-column: 1 / span 2;
}