<?xml version="1.0" encoding="UTF-8"?>
<server description="torganizer">
  <featureManager>
    <feature>jakartaee-9.1</feature>
    <feature>microProfile-5.0</feature>
    <feature>sessionDatabase-1.0</feature>
  </featureManager>

  <!--
   | https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_admin_session_persistence.html
   +-->
  <httpSessionDatabase id="SessionDB" dataSourceRef="torganizerDS" />
  <httpSession storageRef="SessionDB" cloneId="${torganizerCloneId}" />

  <!--
   | To access this server from a remote client add a host attribute to the following element, e.g. host="*"
   | Ignore "IllegalStateException: The orb is not available"
   | https://www-01.ibm.com/support/docview.wss?uid=ibm10728669
   +-->
  <httpEndpoint id="defaultHttpEndpoint" enabled="true" httpPort="8080" httpsPort="8443" host="*"/>
  
  <!--
   | https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_sec_create_certificate.html
   +-->
  <keyStore id="defaultKeyStore" password="{xor}KzAtOD4xNiU6LQ==" />

  <!--
   | https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_dep_jndi.html 
   +-->
  <jndiEntry jndiName="jsf/ProjectStage" value="Production"/>

  <!--
   | https://www.ibm.com/support/knowledgecenter/en/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/rwlp_portnums.html 
   +-->
  <wasJmsEndpoint wasJmsPort="7279" wasJmsSSLPort="7289"/>

  <!--
   | https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_mp_metrics_monitor.html
   +-->
  <mpMetrics authentication="false"/>

  <!--
   | Automatically expand WAR files and EAR files
   +-->
  <applicationManager autoExpand="true"/>

  <!--
   | https://stackoverflow.com/questions/15485239/websphere-liberty-profile-and-intellij-jmx-administration-should-be-enable
   +-->
  <applicationMonitor updateTrigger="mbean"/>

  <!--
   | CWWKS9660E: Das Element orb mit dem id-Attribut defaultOrb setzt eine Benutzerregistry voraus, aber auch nach 10 Sekunden war keine Benutzerregistry verfügbar.
   | https://www.ibm.com/support/knowledgecenter/SSD28V_9.0.0/com.ibm.websphere.wlp.core.doc/ae/twlp_sec_basic_registry.html
   +-->
  <basicRegistry id="basic" realm="customRealm">
    <user name="admin" password="admin"/>
    <group name="admins">
      <member name="admin"/>
    </group>
  </basicRegistry>

  <!--
   | https://www.ibm.com/support/knowledgecenter/en/SS7K4U_liberty/com.ibm.websphere.wlp.zseries.doc/ae/twlp_dep_configuring_ds.html 
   | https://www.ibm.com/support/knowledgecenter/en/SSHS8R_7.1.0/com.ibm.worklight.deploy.doc/admin/t_configuring_liberty_profile_for_my_sql_manually.html
   +-->
  <library id="dataSourceLibrary">
    <file name="${shared.resource.dir}/postgresql/postgresql.jar"/>
  </library>
  <dataSource id="torganizerDS" jndiName="jdbc/torganizerDS" transactional="true" statementCacheSize="25">
    <jdbcDriver libraryRef="dataSourceLibrary"/>
    <properties databaseName="torganizer"
                serverName="${env.dataSource_serverName}" portNumber="${env.dataSource_portNumber}"
                user="${env.dataSource_user}" password="${env.dataSource_password}"/>
  </dataSource>

  <!--
   | https://blog.bmarwell.de/en/my-top-10-favourite-openliberty-hidden-features/?utm_source=rss&utm_medium=rss&utm_campaign=my-top-10-favourite-openliberty-hidden-features
   +-->
  <cdi12 enableImplicitBeanArchives="false" />

  <application type="war" id="frontend_war_exploded" name="frontend_war_exploded" location="${server.config.dir}/apps/frontend.war" context-root="/"/>
</server>

