<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">
  <featureManager>
    <feature>javaee-8.0</feature>
    <feature>microProfile-3.2</feature>
  </featureManager>

  <!--
   | To access this server from a remote client add a host attribute to the following element, e.g. host="*"
   | Ignore "IllegalStateException: The orb is not available"
   | https://www-01.ibm.com/support/docview.wss?uid=ibm10728669
   +-->
  <httpEndpoint id="defaultHttpEndpoint" enabled="true" httpPort="8080" httpsPort="8443" host="*" />

  <!--
   | https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_dep_jndi.html 
   +-->
  <jndiEntry jndiName="jsf/ProjectStage" value="Production" />

  <!--
   | https://www.ibm.com/support/knowledgecenter/en/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/rwlp_portnums.html 
   +-->
  <wasJmsEndpoint wasJmsPort="7279" wasJmsSSLPort="7289" />

  <!--
   | https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_mp_metrics_monitor.html
   +-->
  <mpMetrics authentication="false" />

  <!--
   | Automatically expand WAR files and EAR files
   +-->
  <applicationManager autoExpand="true" />

  <!--
   | https://stackoverflow.com/questions/15485239/websphere-liberty-profile-and-intellij-jmx-administration-should-be-enable
   +-->  
  <applicationMonitor updateTrigger="mbean" />

  <!--
   | CWWKS9660E: Das Element orb mit dem id-Attribut defaultOrb setzt eine Benutzerregistry voraus, aber auch nach 10 Sekunden war keine Benutzerregistry verfügbar.
   | https://www.ibm.com/support/knowledgecenter/SSD28V_9.0.0/com.ibm.websphere.wlp.core.doc/ae/twlp_sec_basic_registry.html
   +-->
  <basicRegistry id="basic" realm="customRealm">
    <user name="admin" password="admin" />
    <group name="admins">
      <member name="admin" />
    </group>
  </basicRegistry>

  <!--
   | https://www.ibm.com/support/knowledgecenter/en/SS7K4U_liberty/com.ibm.websphere.wlp.zseries.doc/ae/twlp_dep_configuring_ds.html 
   | https://www.ibm.com/support/knowledgecenter/en/SSHS8R_7.1.0/com.ibm.worklight.deploy.doc/admin/t_configuring_liberty_profile_for_my_sql_manually.html
   +-->
  <library id="DataSourceLibrary">
    <file name="${shared.resource.dir}/postgresql/postgresql-42.2.10.jar" />
  </library>
  <dataSource jndiName="jdbc/torganizerDS" transactional="true">
    <jdbcDriver libraryRef="DataSourceLibrary" />
    <!--
     |                          | postgresql     | mysql
     | ___________________________________________________________
     | dataSource.serverName    | postgreql      | mysql
     | dataSource.portNumber    | 5432           | 3306
     | dataSource.user          | postgres       | root
     | dataSource.password      | postgres       | root
     +-->
    <properties databaseName="torganizer"
      serverName="${env.dataSource_serverName}" portNumber="${env.dataSource_portNumber}"
      user="${env.dataSource_user}" password="${env.dataSource_password}" />
  </dataSource>

</server>

