/** https://stackoverflow.com/questions/16590739/empty-css-while-using-import-in-a-css-link */
@import url("#{resource['css:button.css']}");
@import url("#{resource['css:table.css']}"); /* CSS - Cascading Style Sheet */

/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=10Y0u0k3ZYT00++00++aQNKiytD */
* {
  --color-primary-0: #FFF5DF;
  --color-primary-1: #FFFFFF;
  --color-primary-2: #FFFFFF;
  --color-primary-3: #FFE3A9;
  --color-primary-4: #ECBF63;
}

input{
  border: 1px solid var(--color-primary-4);
  padding: 2px 2px;
}

.disabledLink {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

li.violation {
  color: red;
}
input.violation {
  border-color: red;
}