body {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap: 1em;
    background-color: beige;
}

header{
    background-color: aliceblue;
}
nav{
    background-color: antiquewhite;
}