<!--
 |
 +-->
 <server>

  <!--
   | https://www.ibm.com/support/knowledgecenter/en/SS7K4U_liberty/com.ibm.websphere.wlp.zseries.doc/ae/twlp_dep_configuring_ds.html 
   +-->
  <dataSource id="DefaultDataSource" jndiName="jdbc/torganizerDS">
    <jdbcDriver libraryRef="MySQLLib"/>
    <!-- password = 'root' -->
    <properties databaseName="torganizer" password="{xor}LTAwKw==" portNumber="3306" serverName="localhost" useSSL="false" user="root"/>
  </dataSource>  
  <library id="MySQLLib">
    <file name="c:/dev/tools/mysql-connector-java-5.1.47/mysql-connector-java-5.1.47-bin.jar"/>
  </library>

  <!--
   | https://www.ibm.com/support/knowledgecenter/en/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/rwlp_portnums.html 
   +-->
  <wasJmsEndpoint wasJmsPort="7278" wasJmsSSLPort="7288" />
</server>